
/* Popular Links Redesign 2022 */


body {
    background-color: red;
}
.popular--links__container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 30px;
}

.popular--links__block {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(220.55deg, #4643DF 0%, #0B0A47 100%);
    color: white;
    padding: 30px;
    border-radius: 15px;
    justify-content: space-between;
    transition: all 0.3S ease-in;
    z-index: 999;
}

/* .popular--links__block:hover {
    background: white;
    transition: all 0.2s ease-in;
    color: #29235c;
} */

.popular--links__title,
.popular--links__subtitle,
.popular--links__block--link {
    color: #fff;
    font-family: var(--secular);

}

.popular--links__block a {
    border-bottom: none;
}

.popular--links__block--icon {
    width: 56px;
    height: 56px;
    position: absolute;
    top: -30px;
    border-radius: 50%;
    background: white;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular--links__block--link {
    text-decoration: underline;
}


.popular--links__block--icon .fa-solid, .fa-suitcase {
    color: #29235c;
}


.popular--links__block > .popular--links__title {
    color: #fff;
}
.popular--links__subtitle {
    padding-top: 1rem;
}

a.popular--links__block--link {
  border-bottom: 3px solid;
  width: fit-content;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
    .popular--links__container {
        grid-template-columns: repeat(auto-fill,minmax(196px,1fr));
        grid-auto-flow: column;
        grid-auto-columns: 196px;
        overflow-x: scroll;
        gap: 30px;
        padding: 40px 0;
        padding-bottom: 3.5rem;
    }

    .popular--links__subtitle {
      font-size: 0.9rem !important;
    }
    .popular--links__block {
        padding: 30px 15px 10px;
        height: 230px;
    }
    .popular--links__block h2 {
        font-size: 1rem;
    }

    .popular--links__title {
        font-size: 1rem;
    }

    .popular--links__block--icon {
        border: 1px solid;
    }

    .popular--links__container::after {
      border: 1px solid;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      padding: 10px;
      position: absolute;
      bottom: 0;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f061";
      text-align: center;
    }
  }


  
.popular--links__block:nth-child(1) {
    background: #82368C;
}
.popular--links__block:nth-child(2) {
    background: #E40521;
}
.popular--links__block:nth-child(3) {
    background: #F39125;
}
.popular--links__block:nth-child(4) {
    background: #119E9F;
}
.popular--links__block:nth-child(5) {
    background: #29235c;
}
.popular--links__block:nth-child(6) {
    background: lightslategray;
}
.popular--links__block:nth-child(7) {
    background: #95C11F;
}
.popular--links__block:nth-child(8) {
    background: #F39125;
}

.popular--links__block:hover .popular--links__block--icon{
    transform: scale(1.1);
}



/* Hover Links */
a {
    text-decoration: none;
}
.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: white;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--metis {
    font-family: bely-display, sans-serif;
    text-transform: lowercase;
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}


.banner {
    background: #009579;
}

.banner__content {
    padding: 16px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #fff;
}