/* Popular Links redesign 2022 */


@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


body {
    font-family: 'Barlow', sans-serif;

}


/* Popular Links Redesign 2022 */
.popular--links__container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    background-color: #F2F0FF;
    padding: 30px;
}

.popular--links__block {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(220.55deg, #4643DF 0%, #0B0A47 100%);
    color: white;
    padding: 30px;
    border-radius: 15px;
    justify-content: space-between;
    border: 3px solid #0B0A47
}

.popular--links__block:hover {
    background: white;
    border: 3px solid #29235c;
    transition: all 0.2s ease-in;
    color: #29235c;
}

.popular--links__title,
.popular--links__subtitle,
.popular--links__block--link {
    color: #fff;
}

.popular--links__block a {
    border-bottom: none;
}

.popular--links__block--icon {
    width: 56px;
    height: 56px;
    position: absolute;
    top: -30px;
    border-radius: 50%;
    background: white;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular--links__block--link {
    text-decoration: underline;
}


.popular--links__block--icon .fa-solid, .fa-suitcase {
    color: #29235c;
}


.popular--links__block > .popular--links__title {
    color: #fff;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
    .popular--links__container {
        grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
        grid-auto-flow: column;
        grid-auto-columns: 160px;
        overflow-x: scroll;
        gap: 30px;
    }

    .popular--links__block {
        padding: 30px 15px 10px;
        height: 200px;
    }
    .popular--links__block h2 {
        font-size: 1rem;
    }

    .popular--links__title {
        font-size: 1rem;
    }
  }